 <div class="card" id="resume">
            <div class="row">
               <div class="col-3" style="margin-right: inherit;">
                  <div class="card mb-3" style="margin-left: 20px;
                     margin-top: 13px;">
                     <img class="card-img-top" src="assets/foto_diri.JPG" style="width: 100%;" alt="Card image cap">
                     <div class="card-body">
                        <h5 class="card-title">M.Hakim Amransyah</h5>
                        <p class="card-text" style="text-align: justify;">Saya memiliki minat dan kemampuan dalam logika pemrograman terutama dalam pemrograman web dan Java. Saya juga memiliki keinginan yang kuat untuk bergabung dan bekerja bersama tim untuk mengeksplorasi teknologi aplikasi terbaru yg sesuai dengan kebutuhan perusahaan.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="https://web.facebook.com/muhammad.hakimamransyah" target="_blank"><span class="chip"><img style="width: 37px" alt="Chip Image" class="chip-img" src="https://i.gifer.com/EYj8.gif">Facebook</span></a>
                        <a href="https://twitter.com/M_Hakim_Amrnsyh" target="_blank"><span class="chip"><img style="width: 37px" alt="Chip Image" class="chip-img" src="https://i.gifer.com/XHGv.gif">Twitter</span></a>
                        <br>
                        <br>
                        <a href="https://www.instagram.com/m_hakim_amransyah/?hl=id" target="_blank"><span class="chip"><img style="width: 37px" alt="Chip Image" class="chip-img" src="https://media.tenor.com/images/aafcc7cc4a29888c08ba5c311e4b8c6c/tenor.gif">Instagram</span></a>
                         <a href="https://github.com/Mhakimamransyah" target="_blank"><span class="chip"><img style="width: 37px" alt="Chip Image" class="chip-img" src="https://media.giphy.com/media/WvXuLOqJeJ0I0/giphy.gif">Github</span></a>
                     </div>
                  </div>
               </div>
            
               <div class="col-9">
                  <div class="card-header">
                     <div class="w3-container">
                        <div class="w3-row">
                           <div class="w3-quarter" ng-click="lihatDetail('data-pribadi')" >
                              <div class="w3-container w3-red w3-center">
                                <i class="material-icons myTile" style="">folder_shared</i>
                                 <p>Data Pribadi</p>
                              </div>
                           </div>
                           <div class="w3-quarter"  ng-click="lihatDetail('pendidikan')">
                              <div class="w3-container w3-green w3-center">
                                <i class="material-icons myTile">school</i>
                                 <p>Pendidikan</p>
                              </div>
                           </div>
                           <div class="w3-quarter" ng-click="lihatDetail('kemampuan')">
                              <div class="w3-container w3-yellow w3-center">
                                 <i class="material-icons myTile">poll</i>
                                 <p>Kemampuan</p>
                              </div>
                           </div>
                           <div class="w3-quarter" ng-click="lihatDetail('organisasi')">
                              <div class="w3-container w3-blue w3-center">
                                 <i class="material-icons myTile">people</i>
                                 <p>Organisasi</p>
                              </div>
                           </div>
                           <div class="w3-quarter" ng-click="lihatDetail('pengalaman')">
                              <div class="w3-container w3-black w3-center">
                                <i class="material-icons myTile">public</i>
                                 <p>Pengalaman</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <datapribadi id="data-pribadi"> </datapribadi>
                  <pendidikan  id="pendidikan"></pendidikan>
                  <kemampuan   id="kemampuan"> </kemampuan>
                  <organisasi  id="organisasi"></organisasi>
                  <pengalaman  id="pengalaman"></pengalaman>
               </div>
            </div>
         </div>